/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Base styles */
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #FFD569 #E7EDF2;
}

/* Title */
.title {
    font-size: 100px;
}

/* Search Container */
.search-container {
    display: flex;
}

.search-container input {
    width: 50vw;
    height: 5vh;
    border-radius: 50px;
}

/* Pet Listings */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 20px;
}

/* Pet Image Container */
.pet-image {
    position: relative;
    width: 400px;           
    height: 500px;         
    object-fit: cover;     
    overflow: hidden;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(83, 83, 83, 0.5);
}

/* Hover Zoom Effect */
.img-hover-zoom img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.1);
}

/* Shadow Overlay */
.shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, #191c23 0%, rgba(39, 45, 61, 0) 100%);
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.text-container {
    padding: 10px;
    color: #fff;
}

/* Text Styles */
.text-container h2 {
    margin: 0;
    font-size: 24px;
}

.text-container p {
    margin: 5px 0;
    font-size: 16px;
}

/* Dot and Info */
.dot ion-icon {
    font-size: 12px;
    vertical-align: middle;
}

.age,
.price,
.dot {
    display: inline-block;
    margin-right: 5px;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}


/* Ionicons Fix */
ion-icon {
    vertical-align: middle;
}

/* Responsive Design */
@media (max-width: 768px) {
    .pet-image, .shadow {
        width: 18rem;
    }
    .container {
        margin-left: 5%;
    }
}
